@model MyWebApplication.Models.ViewModel.UsersModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .lnkEdit {
        padding: 10px 15px 10px 15px;
        background: lightgray;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 15px;
        color: black;
        text-decoration-color: rgba(0,0,0,0);
    }
</style>
<h1>Profile</h1>
<div id="userListContainer">
    <span class="alert-success">@ViewBag.Message</span>
    @foreach (var i in Model.Users)
    {
        @if (!string.IsNullOrEmpty(i.AccountImage))
        {
            <img src="@i.AccountImage" alt="Account Image" width="25" height="25" />
        }
        <pre>
        Email:   @Html.DisplayFor(m => i.LoginName)
        Name:    @Html.DisplayFor(m => i.FirstName) @Html.DisplayFor(m => i.LastName)
        Gender:  @Html.DisplayFor(m => i.Gender)
        Role:    @Html.DisplayFor(m => i.RoleName)
        </pre>
        <a href="#" class="lnkEdit" data-userid="@i.UserID" data-login="@i.LoginName" data-firstname="@i.FirstName" data-lastname="@i.LastName" data-gender="@i.Gender" data-role="@i.RoleID" data-password="@i.Password">Edit</a>
        @* <a class="lnkEdit" asp-area="" asp-controller="Account" asp-action="Edit">Edit</a> *@
    }
</div> 
<!-- The Modal -->
<div class="modal fade edit-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="editId" />
                    <div class="form-group">
                        <label for="editLoginName">Email:</label>
                        <input type="text" class="form-control" id="editLoginName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">First Name:</label>
                        <input type="text" class="form-control" id="editFirstName">
                    </div>
                    <div class="form-group">
                        <label for="editLastName">Last Name:</label>
                        <input type="text" class="form-control" id="editLastName">
                    </div>
                    <div class="form-group">
                        <label for="editGender">Gender:</label>
                        <select class="form-control" id="editGender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editRole">Role:</label>
                        <select class="form-control" id="editRole" disabled>
                            <option value="1">Administrator</option>
                            <option value="2">Member</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editPassword">Password:</label>
                        <input type="password" class="form-control" id="editPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add JQuery links -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var editModal = $(".edit-modal");
        var editId = $("#editId");
        var editLoginName = $("#editLoginName");
        var editFirstName = $("#editFirstName");
        var editLastName = $("#editLastName");
        var editGender = $("#editGender");
        var editRole = $("#editRole");
        var editPassword = $("#editPassword");

        // Click event for "Edit" links
        $("#userListContainer").on("click", ".lnkEdit", function () {
            var userId = $(this).data("userid");
            var loginName = $(this).data("login");
            var firstName = $(this).data("firstname");
            var lastName = $(this).data("lastname");
            var gender = $(this).data("gender");
            var role = $(this).data("role");
            var password = $(this).data("password");

            // Populate the modal with user data
            editId.val(userId);
            editLoginName.val(loginName);
            editFirstName.val(firstName);
            editLastName.val(lastName);
            editGender.val(gender);
            editPassword.val(password);
            editRole.val(role);
            
            // Show the modal
            editModal.modal("show");
        });

        // Click event for "Save Changes" button
        $("#saveChanges").click(function () {

            // Create a JavaScript object with the updated user data
            var userData = {
                LoginName: editLoginName.val(),
                FirstName: editFirstName.val(),
                LastName: editLastName.val(),
                Gender: editGender.val(),
                RoleID: editRole.val(),
                Password: editPassword.val()
            };

            // Perform your update logic here (e.g., call an API or submit a form)
            // Make an AJAX request to your API endpoint to update user information
            $.ajax({
                type: "PUT", // Use the appropriate HTTP method (PUT, POST, etc.) for your API
                url: "/account/update", // Replace with your API endpoint URL
                data: JSON.stringify(userData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    // Handle the API response as needed
                    console.log("User updated successfully");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle API error
                    console.error("Error updating user:", error);
                    window.location.reload();
                }
            });

            // Close the modal
            editModal.modal("hide");
        });

        // Click event for "Close" button
        $(".close-modal").click(function () {
            editModal.modal("hide");
        });
    });
</script>
